@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.link:hover{
    color: black;
    background-color: gold;
    transition: 0.7s;
    padding: 10px;
}

header{
    height: 100vh;
    width: 100%;
}




/*Colores*/

.golden{
    background-color: goldenrod;
}

.negro{
    background-color: black;
}

.gold{
    background-color: gold;
    color: black;
}

/*-----------------------index*-----------------------------------*/

span{
    color: goldenrod;
}

.indexBody{
    background-color: black;
}

.barra{
    height: 8%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barra div{
    width: 20%;
    height: 100%;
    margin-left: 50px;
    display: flex;
}

.barra div img{
    background-image: cover;
    background-color: black;
    height: 100%;
}

.barra h1{
    font-size: 44px;
    color: rgb(138, 128, 128);
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.barra ul{
    display: flex;
    margin-right: 2%;
    list-style-type: none;
    margin-top: 6px;
}

.link{
    font-size: 26px;
    color: white;
}

li{
    padding: 15px;
}

.videoBanner{
    width: 100%;
    height: 92%; 
    object-fit: cover;
}

.cartelCentral{
    position: absolute;
    top: 45%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    z-index: 0;
}

.cartelCentral::before{
    width: 1%;
    height: 100%;
    background-color: #041241;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 2s;
}

.cartelCentral:hover::before{
width: 100%;
}

.cartelCentral:hover .boton1{
    background-color: #041241;
    animation-name: botonGiratorio;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    color: goldenrod;
}

.cartelCentral h2{
    padding: 20px;
    color: goldenrod;
    font-size: 32px;
    margin-top: 30px;
}

.boton1{
    height: 100%;
    padding: 54px 16px;
    border: solid;
    border-width: 2px;
    border-color: goldenrod;
    margin: 0%;
    line-height: 30px;
    font-size: 26px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    transition: 2s;
}


@keyframes botonGiratorio{
    to {transform: rotate(360deg);}
}



footer{
    top: 92%;
    left: 0%;
    font-size: 60px;
    display: flex;
    width: 100%;
    position: fixed;
}

footer a{
    padding: 10px;
}

.parrafoFooter{
    color: gold;
    font-size: 38px;
    padding-left: 30px;
}

i1{
    color: blue;
}

i2{
    color: rgb(7, 110, 7);
}

i3{
    color: rgb(189, 54, 20);
}

i4{
    color: rgb(0, 194, 10);
}

/* La empresa */

.laEmpresa{
    background-image: url(../img/cheers.jpg);
    background-size: cover;
}

.containerQuienesSomos{
    position: absolute;
    top: 20%;
    background-color: rgba(255, 250, 250, 0.4);
    width: 40%;
    margin-left: 5%;
}

.containerQuienesSomos h2{
    color: goldenrod;
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

.containerQuienesSomos p{
    font-size: 23px;
    padding: 3%;
    text-align: center;
    line-height: 130%;
    color: black;
}

.conoceAlEquipo h2{
    color: white;
    text-align: center;
    font-size: 48px;
    margin: 0%;
    padding: 20px;
}

.conoceAlEquipo p{
    color: white;
    text-align: center;
    font-size: 24px;
}

.contenedorCentroE{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardEquipo{
    background-color: #222;
    background-image:linear-gradient(90deg,#222 20%,#555 90%);
    width: 24%;
    height: 230px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    margin-bottom: 30px;
}

.cardAvatar{
    width: 40%;
    height: 70%;
}

.imagenE{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.cardEquipoBody{
    width: 60%;
    height: 70%;
}

.cardEquipoBody h2{
    margin: 0%;
    text-align: center;
    padding-bottom: 2px;
    color: gold;
    font-size: 22px;
}

.cardEquipoBody ul{
    margin-top: 12px;
    margin-left: 30px;
    color: white;
}

.cardEquipoBody li{
    padding: 6px 0;
    margin: 0;
    font-size: 1em;
}

.cardEquipoFooter{
    color: white;
    font-size: 16px;
    width: 100%;
    padding-top: 10px;
}

/* Galeria */

.tituloHeader{
    height: 5%;
    text-align: center;
    background-color: black;
    margin-top: 0;
    color: goldenrod;
    border-top: 1px solid goldenrod;
    font-size: 32px;
    padding: 8px;
}

.sectionTitulos p{
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    color: goldenrod;
    border-top: 1px solid gold;
}

.galeria{
    height: 79%;
    width: 100%;
    display: grid;
    gap: 10px;
    background-color: goldenrod;
    padding: 10px;
    margin: auto;
}

.img{
    border-radius: 7px;
    transition: all 0.1s;
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 10px black;
    transition: 0.4s;
}

.img:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}

.img1{
    background-image: url(../img/img1.jpg);
}

.img2{
    background-image: url(../img/img2.JPG);
}

.img3{
    background-image: url(../img/img3.jpg);
}

.img4{
    background-image: url(../img/img4.jpeg);
}

.img5{
    background-image: url(../img/img5.jpg);
}

.img6{
    background-image: url(../img/vertical1.jpg);
}

.img7{
    background-image: url(../img/central.jpg);
}

.img8{
    background-image: url(../img/vertical2.jpg);
}

.img9{
    background-image: url(../img/img6.jpg);
}

.img10{
    background-image: url(../img/img7.jpg);
}

.img11{
    background-image: url(../img/img8.JPG);
}

.img12{
    background-image: url(../img/img9.JPG);
}

.img13{
    background-image: url(../img/img10.jpg);
}

/* Elige tu destino */

.cardContainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardPromo{
    width: 27%;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 5px 10px 10px #555;;
    margin-top: 30px;
    background-color: #557b83;
    position: relative;
}

.cardPromo::before{
    content: " ";
    background-image: url(../img/treasureDocs.jpg);
    background-size: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(39% 57%, 71% 35%, 100% 18%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 76%);
    transition-property: clip-path;
    transition-duration: 0.5s;
    z-index: 1;
}

.cardPromo:hover::before{
    clip-path: polygon(61% 100%, 96% 100%, 99% 100%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 100%);
    
}

.cardPromoHeader{
    width: 100%;
    height: 40%;
}

.cardPromoHeader img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.cardPromoBody{
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
    overflow: auto;
}

.cardPromoBody h2{
    margin-top: 0%;
    margin-left: 10px;
    margin-bottom: 0%;
    color: gold;
    font-size: 36px;
}

.cardPromoBody p{
    color: white;
    margin: 0 8px;
}

.cardFooter{
    height: 10%;
}

.cardFooter button{
    border: 1px solid black;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: gold;
    border-radius: 7px;
}

.cardFooter button:hover{
    color: white;
}

/*------------------Contacto--------------------*/


.form_container{
    display: flex;
    background-image: url(../img/img6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 0;
}

.form_borde{
    border: solid 3px gold;
    width: 44%;
    margin: 0 auto;
    background-color: #000;
    color: gold;
}

.form_borde h2{
    text-align: center;
    margin: 2% auto;
    font-size: 28px;
    color: goldenrod;
}

.form_borde hr{
    color: gold;
    border: none;
    border-bottom: solid 3px gold;
    width: 50%;
    margin: 0 auto;
    padding: 1% 1%;
}

form{
    padding: 2% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form div {
    padding: 3%;
}

.div_chico{
    width: 45%;
}

.div_grande{
    width: 90%;
}

label{
    display: block;
    margin-bottom: 2%;
    font-size: 30px;
}

input , textarea{
    width: 95%;
    border: none;
    background: none;
    color: goldenrod;
    border-bottom: solid 3px white;
    font-size: 20px;
    line-height: 30px;
    padding: 5px;
    }

    .botones{
        width: 30%;
        display: flex;
    }

    .boton2{
        width: 100%;
        background-color: black;
        height: 100%;
        border: 2px solid gold;
        color: white;
        padding: 10px;
    }
    
    .boton2:hover{
        color: gold;
    }


/*--------------------------------------------------------------------------Responsive----------------------------------------------------------------------------------*/

@media only screen and (min-width:1024px){
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .img3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .img4{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .img5{
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .img6{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    
    .img7{
        grid-column: 2/5;
        grid-row: 2/4;
    }
    
    .img8{
        grid-column: 5/6;
        grid-row: 2/4;
    }
    
    .img9{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .img10{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    .img11{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    
    .img12{
        grid-column: 4/5;
        grid-row: 4/5;
    }
    
    .img13{
        grid-column: 5/6;
        grid-row: 4/5;
    }
    footer a{
        font-size: 45px;
    }
}


@media only screen and (max-width:1023px){
    .videoBanner{
        width: 100%;
        height: 95%; 
        object-fit: cover;
    }
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        height: 100vh;
    }
    .barra{
        width: auto;
        height: 5%;
    }
    .barra ul{
        margin: 0;
    }
    .link{
        font-size: 18px;
    }
    .barra h1{
        font-size: 26px;
        margin: 0;
    }
    .barra div{
        margin: 0;
    }
    .cardPromo{
        width: 30%;
    }
    .containerQuienesSomos{
        width: 50%;
    }
    .containerQuienesSomos h2{
        font-size: 24px;
    }
    .containerQuienesSomos p{
        font-size: 20px;
    }
}

@media only screen and (max-width:768px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
    .barra{
        width: auto;
        height: 5%;
    }
    .barra ul{
        margin: 0;
    }
    .link{
        font-size: 15px;
    }
    .barra h1{
        font-size: 26px;
        margin: 0;
    }
    .barra div{
        margin: 0;
    }
    .cardPromo{
        width: 47%;
    }
    .containerQuienesSomos{
        width: 65%;
    }
}


@media only screen and (max-width:600px){
    .barra{
        width: auto;
        height: 12%;
    }
    .barra ul{
        margin: 0;
        flex-direction: column;
    }
    .barra ul li{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 3px;
        padding-right: 3px;
    }

    .link{
        font-size: 18px;
    }
    .barra h1{
        font-size: 40px;
        margin-top: 20px;
    }
    .barra div{
        margin: 0;
    }
    .tituloHeader{
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    .cartelCentral{
        top: 35%;
        margin-right: 5%;
        height: 23%;
    }
    .cartelCentral h2{
        font-size: 26px;
        margin-top: 0%;
    }
    .videoBanner{
        width: 100%;
        height: 97%;
        object-fit: cover;
    }
    .boton1{
        padding-top: 30%;
    }
    .cardPromo{
        width: 95%;
    }
    .containerQuienesSomos{
        width: 80%;
    }
}

@media only screen and (max-width:480px){
    .barra{
        width: auto;
        height: 10%;
    }
    .barra ul{
        margin: 0;
    }
    .barra ul li{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 3px;
        padding-right: 3px;
    }
    .link{
        font-size: 11px;
    }
    .barra h1{
        font-size: 24px;
        margin-top: 15px;
    }
    .barra div{
        margin: 0;
    }
    .tituloHeader{
        font-size: 26px;
        padding: 0;
        margin: 0;
    }
    .sectionTitulos p{
        font-size: 20px;
    }
    .cartelCentral h2{
        font-size: 19px;
    }
    footer a{
        font-size: 45px;
    }
    .cardPromo{
        width: 100%;
    }
}