@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Colores*/

$color1:goldenrod;
$color2:black;
$color3:white;

.golden{
    background-color: $color1;
}
.negro{
    background-color: $color2;
}
.gold2{
    color: $color1;
}

/*-----------------------Nav Bar-----------------------------------*/

.navbar{
    padding: 0;
    background-color: $color2 !important;
    span{
        color: $color1;
    }
    li{
        padding: 6px;
        font-size: 18px;
    }
    a{
        text-decoration: none;
    }
    a:visited{
    text-decoration: none;
    }
}

.navbar a:hover{
    color: $color2 !important;
    background-color: $color1;
    transition: 0.7s;
    padding: 9px;
}

/*-------------Seccion titulos-----------------------------*/

.tituloHeader{
    height: 5%;
    text-align: center;
    background-color: $color2;
    margin: 0;
    color: $color1;
    font-size: 32px;
    padding: 2px;
}

.sectionTitulos p{
    padding: 1% 1%;
    font-size: 30px;
    text-align: center;
    color: $color1;
    border-top: 1px solid $color1;
    margin-top: 0;
}

/*-------------------------footer--------------------------------*/

footer{
    top: 93%;
    left: 0%;
    display: flex;
    width: 20%;
    position: fixed;
    a{
        padding: 8px;
    }
    i1{
        color: blue;
    }
    i2{
        color: rgb(7, 110, 7);
    }
    i3{
        color: rgb(189, 54, 20);
    }
    i4{
        color: rgb(0, 194, 10);
    }
}
/*-----------------------index*-----------------------------------*/

.portada{
    height: 100vh;
    width: 100%;
    .videoBanner{
        width: 100%;
        height: 94%; 
        object-fit: cover;
    }
    .cartelCentral{
        position: absolute;
        top: 45%;
        left: 15%;
        height: auto;
        margin-right: 5%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        z-index: 0;
    }
    h2{
        padding: 19px;
        color: $color1;
        font-size: 32px;
        margin-top: 30px;
    }
    .boton1{
        height: 100%;
        padding: 54px 16px;
        border: solid;
        border-width: 2px;
        border-color: $color1;
        margin: 0%;
        line-height: 30px;
        font-size: 26px;
        color: $color3;
        background-color: rgba(0, 0, 0, 0);
        transition: 2s;
    }
    .cartelCentral::before{
        width: 1%;
        height: 100%;
        background-color: #041241;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 2s;
    }
    .cartelCentral:hover::before{
        width: 100%;
    }
    .cartelCentral:hover .boton1{
        background-color: #041241;
        animation-name: botonGiratorio;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        color: $color1;
    }
}

@keyframes botonGiratorio{
    to {transform: rotate(360deg);}
}

/* La empresa */

.laEmpresa{
    background-image: url(../img/cheers.jpg);
    background-size: cover;
    height: 100vh;
}

.containerQuienesSomos{
    position: absolute;
    top: 20%;
    background-color: rgb(235, 238, 208);
    height: auto;
    width: 45%;
    margin-left: 5%;
    h2{
        color: $color1;
        text-align: center;
        font-size: 30px;
        padding: 20px;
    }
    p{
        font-size: 23px;
        padding: 3%;
        text-align: center;
        line-height: 130%;
        color: $color2;
    }
}

.cardEquipo{
    background-color: #222;
    background-image:linear-gradient(90deg,#222 20%,#555 90%);
    width: 30%;
    height: 340px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    margin-bottom: 30px;
    .cardAvatar{
        width: 50%;
        height: 70%;
    }
    .imagenE{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .cardEquipoBody{
        width: 50%;
        height: 70%;
        h2{
            margin: 0%;
            text-align: center;
            padding-bottom: 2px;
            color: $color1;
            font-size: 24px;
        }
        ul{
            margin-left: 5px;
            color: $color3;
            li{
                padding: 13px 0;
                margin: 0;
                font-size: 18px;
            }
        }
    }
    .cardEquipoFooter{
        color: $color3;
        font-size: 15px;
        width: 100%;
        padding: 10px;
        padding-top: 30px;
    }
}

/* Galeria */


.galeria{
    height: 90vh;
    width: 100%;
    display: grid;
    gap: 10px;
    background-color: $color1;
    padding: 10px;
    width: 100%;
    .img{
        border-radius: 7px;
        transition: all 0.3s;
        background-position: center;
        background-size: cover;
        box-shadow: 8px 8px 10px $color2;
        
    }
    .img:hover{
        transform: scale(1.3);
        transition: all 0.3s;
    }
    .img1{
    background-image: url(../img/img1.jpg);
}
.img2{
    background-image: url(../img/img2.JPG);
}
.img3{
    background-image: url(../img/img3.jpg);
}
.img4{
    background-image: url(../img/img4.jpeg);
}
.img5{
    background-image: url(../img/img5.jpg);
}
.img6{
    background-image: url(../img/vertical1.jpg);
}
.img7{
    background-image: url(../img/central.jpg);
}
.img8{
    background-image: url(../img/vertical2.jpg);
}
.img9{
    background-image: url(../img/img6.jpg);
}
.img10{
    background-image: url(../img/img7.jpg);
}
.img11{
    background-image: url(../img/img8.JPG);
}
.img12{
    background-image: url(../img/img9.JPG);
}
.img13{
    background-image: url(../img/img10.jpg);
}
}

/* Elegi tu destino */

.cardContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardPromo{
    width: 21%;
    height: 500px;
    border: 1px solid $color2;
    border-radius: 7px;
    box-shadow: 5px 10px 10px #555;;
    margin-top: 30px;
    background-color: #557b83;
    .cardPromoHeader{
        width: 100%;
        height: 40%;
        img{
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            width: 100%;
        }
    }
    .cardPromoBody{
        width: 100%;
        height: 53%;
        overflow: auto;
        h2{
            margin-left: 10px;
            color: $color1;
            font-size: 36px;
        }
        p{
            color: $color3;
            margin: 0 8px;
        }
    }
    .cardFooter{
        height: 7%;
        button{
            border: 1px solid $color2;
            font-size: 16px;
            width: 100%;
            height: 100%;
            background-color: gold;
            border-radius: 7px;
            color: $color2;
        }
    }
}

/*------------------Contacto--------------------*/


.contactoMain{
    height: 100%;
    background-image: url(../img/tarjeta9.jpeg);
    background-size: cover;
    div{
        padding: 8.5px;
    }
}


.container{
    h2{
        text-align: center;
        color: $color1;
        font-size: 32px;
    }
    button{
        border: 1px solid $color2;
        font-size: 20px;
        height: 100%;
        background-color: gold;
        border-radius: 7px;
        color: $color2;
    }
}

form{
    background-image:linear-gradient(90deg,#222 20%,#555 90%);
    label{
        display: block;
        margin-bottom: 1%;
        font-size: 24px;
        color: $color1;
    }
    .form-check-input{
        margin: 8px !important;
    }
}

/*-----------------------------------------------Responsive---------------------------------------------------------------------------------*/

@media only screen and (min-width:1024px){
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .img3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .img4{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .img5{
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .img6{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    
    .img7{
        grid-column: 2/5;
        grid-row: 2/4;
    }
    
    .img8{
        grid-column: 5/6;
        grid-row: 2/4;
    }
    
    .img9{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .img10{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    .img11{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    
    .img12{
        grid-column: 4/5;
        grid-row: 4/5;
    }
    
    .img13{
        grid-column: 5/6;
        grid-row: 4/5;
    }
    footer a{
        font-size: 37px;
    }
}

@media only screen and (max-width:1023px){
    .videoBanner{
        width: 100%;
        height: 95%; 
        object-fit: cover;
    }
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        height: 100vh;
    }
    .cardPromo{
        width: 32%;
    }
    .containerQuienesSomos{
        width: 70%;
    }
    .cardEquipo{
        width: 49%;
    }
    footer a{
        font-size: 36px;
    }
}

@media only screen and (max-width:650px){

    .tituloHeader{
        font-size: 26px;
        padding: 0;
        margin: 0;
    }
    .cartelCentral{
        top: 45%;
    }
    .cartelCentral h2{
        font-size: 24px;
    }
    .videoBanner{
        width: 100%;
        height: 97%;
        object-fit: cover;
    }
    .cardPromo{
        width: 48%;
    }
    .sectionTitulos p{
        font-size: 20px;
    }
    .containerQuienesSomos{
        width: 90%;
        top: 38%;
    }
    .containerQuienesSomos h2{
        font-size: 22px;
    }
    .containerQuienesSomos p{
        font-size: 18px;
    }
    .cardEquipo{
        width: 100%;
    }
    .cardEquipoBody li{
        padding: 4px;
    }
    footer a{
        font-size: 30px;
    }
}

@media only screen and (max-width:480px){
    .tituloHeader{
        font-size: 26px;
        padding: 0;
        margin: 0;
    }
    .cartelCentral h2{
        font-size: 17px;
    }
    footer a{
        font-size: 45px;
    }
    .cardPromo{
        width: 100%;
    }
    .cardEquipoFooter{
        margin-top: 5px;
    }
    .sectionTitulos p{
        font-size: 16px;
    }
    .galeria{
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
    .containerQuienesSomos h2{
        font-size: 20px;
    }
    .containerQuienesSomos p{
        font-size: 15px;
    }
    footer a{
        font-size: 26px;
    }
    .container{
        h2{
            font-size: 30px;
        }
    }
    form{
        label{
            font-size: 17px;
        }
    }
}