@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*----------------------Mixing------------------------------------*/
/*Colores*/
.golden {
  background-color: goldenrod;
}

.negro {
  background-color: black;
}

.gold2 {
  color: goldenrod;
}

/*-----------------------Nav Bar-----------------------------------*/
.navbar {
  padding: 0;
  background-color: black !important;
}
.navbar span {
  color: goldenrod;
}
.navbar li {
  padding: 6px;
  font-size: 18px;
}
.navbar a {
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
}

.navbar a:hover {
  color: black !important;
  background-color: goldenrod;
  transition: 0.7s;
  padding: 9px;
}

/*-------------Seccion titulos-----------------------------*/
.tituloHeader {
  height: 5%;
  width: auto;
  background-color: black;
  text-align: center;
  margin: 0;
  color: goldenrod;
  font-size: 32px;
  padding: 2px;
}

.sectionTitulos p {
  padding: 1% 1%;
  font-size: 30px;
  text-align: center;
  color: goldenrod;
  border-top: 1px solid goldenrod;
  margin-top: 0;
}

/*-------------------------footer--------------------------------*/
footer {
  top: 92%;
  left: 0%;
  display: flex;
  width: 20%;
  position: fixed;
}
footer a {
  padding: 0 10px 0 10px;
}
footer i1 {
  color: blue;
}
footer i2 {
  color: rgb(7, 110, 7);
}
footer i3 {
  color: rgb(189, 54, 20);
}
footer i4 {
  color: rgb(0, 194, 10);
}

/*-----------------------index*-----------------------------------*/
.portada {
  height: 100vh;
  width: 100%;
}
.portada .videoBanner {
  width: 100%;
  height: 94%;
  object-fit: cover;
}
.portada .cartelCentral {
  position: absolute;
  top: 47%;
  left: 15%;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 0;
}
.portada h2 {
  padding: 19px;
  color: goldenrod;
  font-size: 32px;
  margin-top: 30px;
}
.portada .boton1 {
  height: 100%;
  width: auto;
  background-color: black;
  padding: 54px 16px;
  border: solid;
  border-width: 2px;
  border-color: goldenrod;
  margin: 0%;
  line-height: 30px;
  font-size: 26px;
  color: white;
  transition: 2s;
}
.portada .cartelCentral::before {
  height: 100%;
  width: 1%;
  background-color: rgb(4, 18, 65);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 2s;
}
.portada .cartelCentral:hover::before {
  width: 100%;
}
.portada .cartelCentral:hover .boton1 {
  background-color: #041241;
  animation-name: botonGiratorio;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  color: goldenrod;
}

@keyframes botonGiratorio {
  to {
    transform: rotate(360deg);
  }
}
/* La empresa */
.containerLaEmpresa {
  width: 100%;
  height: 94vh;
  background-image: url(../img/cheers.jpg);
  background-position: top;
  background-size: cover;
}

.containerQuienesSomos {
  width: 60%;
  padding-top: 10%;
  padding-left: 10%;
}
.containerQuienesSomos h2 {
  color: goldenrod;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  margin: 0;
}
.containerQuienesSomos p {
  font-size: 20px;
  padding: 3%;
  text-align: center;
  line-height: 130%;
  color: black;
  background-color: rgb(235, 238, 208);
}

.cardEquipo {
  background-color: #222;
  background-image: linear-gradient(90deg, #222 20%, #555 90%);
  width: 30%;
  height: 340px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  margin-bottom: 30px;
}
.cardEquipo .cardAvatar {
  width: 50%;
  height: 70%;
}
.cardEquipo .imagenE {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.cardEquipo .cardEquipoBody {
  width: 50%;
  height: 70%;
}
.cardEquipo .cardEquipoBody h2 {
  margin: 0%;
  text-align: center;
  padding-bottom: 2px;
  color: goldenrod;
  font-size: 24px;
}
.cardEquipo .cardEquipoBody ul {
  margin-left: 0px;
  color: white;
}
.cardEquipo .cardEquipoBody ul li {
  padding: 9px 0;
  margin: 0;
  font-size: 18px;
}
.cardEquipo .cardEquipoFooter {
  color: white;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  padding-top: 25px;
}

/* Galeria */
.galeria {
  height: 90vh;
  width: 100%;
  background-color: goldenrod;
  display: grid;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
.galeria .img {
  border-radius: 7px;
  transition: all 0.3s;
  background-position: center;
  background-size: cover;
  box-shadow: 8px 8px 10px black;
}
.galeria .img:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
.galeria .img1 {
  background-image: url(../img/img1.jpg);
}
.galeria .img2 {
  background-image: url(../img/img2.JPG);
}
.galeria .img3 {
  background-image: url(../img/img3.jpg);
}
.galeria .img4 {
  background-image: url(../img/img4.jpeg);
}
.galeria .img5 {
  background-image: url(../img/img5.jpg);
}
.galeria .img6 {
  background-image: url(../img/vertical1.jpg);
}
.galeria .img7 {
  background-image: url(../img/central.jpg);
}
.galeria .img8 {
  background-image: url(../img/vertical2.jpg);
}
.galeria .img9 {
  background-image: url(../img/img6.jpg);
}
.galeria .img10 {
  background-image: url(../img/img7.jpg);
}
.galeria .img11 {
  background-image: url(../img/img8.JPG);
}
.galeria .img12 {
  background-image: url(../img/img9.JPG);
}
.galeria .img13 {
  background-image: url(../img/img10.jpg);
}

/* Elegi tu destino */
.cardContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardPromo {
  height: 500px;
  width: 21%;
  background-color: #557b83;
  position: relative;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 5px 10px 10px #555;
  margin-top: 30px;
}
.cardPromo .cardPromoHeader {
  width: 100%;
  height: 40%;
}
.cardPromo .cardPromoHeader img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}
.cardPromo .cardPromoBody {
  width: 100%;
  height: 53%;
  overflow: auto;
}
.cardPromo .cardPromoBody h2 {
  margin-left: 10px;
  color: goldenrod;
  font-size: 36px;
}
.cardPromo .cardPromoBody p {
  color: white;
  margin: 0 8px;
}
.cardPromo .cardFooter {
  height: 7%;
}
.cardPromo .cardFooter button {
  border: 1px solid black;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: gold;
  border-radius: 7px;
  color: black;
}

.cardPromo::before {
  content: " ";
  background-image: url(../img/treasureDocs.jpg);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(39% 57%, 71% 35%, 100% 18%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 76%);
  transition-property: clip-path;
  transition-duration: 1s;
  z-index: 1;
  border-radius: 7px;
}

.cardPromo:hover::before {
  clip-path: polygon(61% 100%, 96% 100%, 99% 100%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 100%);
}

/*------------------Contacto--------------------*/
.contactoMain {
  height: 100%;
  background-image: url(../img/tarjeta9.jpeg);
  background-size: cover;
}
.contactoMain div {
  padding: 8.5px;
}

.container h2 {
  text-align: center;
  color: goldenrod;
  font-size: 32px;
}
.container button {
  border: 1px solid black;
  font-size: 20px;
  height: 100%;
  background-color: gold;
  border-radius: 7px;
  color: black;
}

form {
  background-image: linear-gradient(90deg, #222 20%, #555 90%);
}
form label {
  display: block;
  margin-bottom: 1%;
  font-size: 24px;
  color: goldenrod;
}
form .form-check-input {
  margin: 8px !important;
}

/*-----------------------------------------------Responsive---------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .img3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .img4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .img5 {
    grid-column: 5/6;
    grid-row: 1/2;
  }

  .img6 {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .img7 {
    grid-column: 2/5;
    grid-row: 2/4;
  }

  .img8 {
    grid-column: 5/6;
    grid-row: 2/4;
  }

  .img9 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .img10 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .img11 {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .img12 {
    grid-column: 4/5;
    grid-row: 4/5;
  }

  .img13 {
    grid-column: 5/6;
    grid-row: 4/5;
  }

  footer a {
    font-size: 37px;
  }
}
@media only screen and (max-width: 1023px) {
  .videoBanner {
    width: 100%;
    height: 95%;
    object-fit: cover;
  }

  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
  }

  .cardPromo {
    width: 32%;
  }

  .containerQuienesSomos {
    width: 80%;
  }

  .cardEquipo {
    width: 49%;
  }

  footer a {
    font-size: 36px;
  }
}
@media only screen and (max-width: 650px) {
  .tituloHeader {
    font-size: 26px;
    padding: 0;
    margin: 0;
  }

  .cartelCentral h2 {
    font-size: 24px;
  }

  .videoBanner {
    width: 100%;
    height: 97%;
    object-fit: cover;
  }

  .cardPromo {
    width: 48%;
  }

  .sectionTitulos p {
    font-size: 20px;
  }

  .containerQuienesSomos {
    width: 90%;
  }

  .containerQuienesSomos h2 {
    font-size: 22px;
  }

  .containerQuienesSomos p {
    font-size: 18px;
  }

  .cardEquipo {
    width: 100%;
  }

  .cardEquipoBody li {
    padding: 4px;
  }

  footer a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .tituloHeader {
    font-size: 26px;
    padding: 0;
    margin: 0;
  }

  .cartelCentral h2 {
    font-size: 17px;
  }

  footer a {
    font-size: 45px;
  }

  .cardPromo {
    width: 100%;
  }

  .cardEquipoFooter {
    margin-top: 5px;
  }

  .sectionTitulos p {
    font-size: 16px;
  }

  .galeria {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  .containerQuienesSomos h2 {
    font-size: 20px;
  }

  .containerQuienesSomos p {
    font-size: 16px;
  }

  footer a {
    font-size: 26px;
    padding: 2px;
  }

  .container h2 {
    font-size: 30px;
  }

  form label {
    font-size: 17px;
  }
}
/*----------------------Extend----------------------------------*/
.fondoColoreado, .fondoColoreado--nuevo {
  background-color: goldenrod;
  color: black;
  padding: 1px;
  border-radius: 7px;
}

.fondoColoreado--nuevo {
  background-color: gold;
  font-size: large;
}

/*# sourceMappingURL=estilos.css.map */
